<div class="rmb-container">
    <div class="rmb-header">
        <div class="rmb-logo">
            <img src="images/rmb-logo.svg" alt="RMB Energy Studio Logo" />
            <div class="rmb-logo-text">
                <span>RMB</span>
                <span>Energy</span>
                <span>Studio</span>
            </div>
        </div>
        <div class="rmb-close-btn">
            ×
        </div>
    </div>

    <div class="rmb-content">
        <div class="rmb-navigation">
            <div class="rmb-nav-item">
                <div class="rmb-nav-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white">
                        <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z" />
                    </svg>
                </div>
                <div class="rmb-nav-text">Project<br />Address</div>
            </div>
            <div class="rmb-line"></div>
            <div class="rmb-nav-item">
                <div class="rmb-nav-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white">
                        <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z" />
                    </svg>
                </div>
                <div class="rmb-nav-text">Project<br />Details</div>
            </div>
        </div>

        <div class="rmb-search-box">
            <div class="rmb-search-input">
                <div class="rmb-search-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="#666">
                        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                    </svg>
                </div>
                <input type="text" placeholder="Start typing address..." />
            </div>
        </div>
    </div>

    <div class="rmb-next-btn">
        <div class="rmb-next-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="#6ba4c0">
                <path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z" />
            </svg>
        </div>
    </div>
</div>

@code {

}